<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <title>Orinoco-Confirmation</title>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <!-- navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="#">Orinoco</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home
                                <span class="sr-only">(current)</span>
                                </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Produits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">S'inscrire</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="panier.html">Panier</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main>
            <h4 class="idCommand"></h4>
           
            <!-- "Thanks for ordering" -->
            <section>
                <div class="card">
                    <div class="card-body commandContainer">
                      <h5 id="helloName"class="card-title"></h5>
                      <p class="card-text">Merci pour votre commande n° <span class="idCommandTwice"></span>, vos articles vous seront expédiés dans les plus brefs délais. Un e-mail de confirmation vous a été envoyé à cette adresse :</p>
                      <p class="emailSent"></p>
                    </div>
                  </div>
            </section>

            <!-- cameras purchased -->
            <h4 class="titleSummary my-5 ml-3">Récapitulatif de votre commande</h4>
            <section class="sectionCard"></section>

            <!-- Order total -->
            <section>
                <div id="cardProduct" class="card">
                    <div class="card-body flexEndText">
                        <h6 class="total">TOTAL : </h6>
                        <div class="totalSum"></div>
                    </div>
                </div>
            </section>

            <section class="mx-5 mt-5">
                <div>Orinoco vous remercie pour votre commande,<br>en vous souhaitant bonne réception de vos articles.</div>
                <div class="boldSalutation mt-3">A très bientôt chez Orinoco! :)</div>
            </section>
        </main>
        
        <!-- footer -->
        <footer>
            <div class="bottom section-padding mt-5">
                <div class="container-fluid bg-dark text-white d-flex align-items-center justify-content-center" style="height:200px">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="copyright">
                                <p>© Orinoco.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <script src="JS/confirmation.js"></script>
    </body>

</html>