<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <title>Orinoco-Produit</title>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <script src="jquery-3.5.1.min.js"></script>
        <script src="popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </head>

    <body>
        <!-- navigation -->
        <nav class="navbar navbar-expand navbar-dark bg-dark static-top justify-content-between">
            <a class="navbar-brand mr-auto">Orinoco</a>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="appareil photo" aria-label="Recherche">
                <button class="btn btn-outline-light" type="submit">Rechercher</button>
            </form>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">S'inscrire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Panier</a>
                </li>
            </ul>
        </nav>

        <!-- product -->
        <section class="mt-5">
            <div class='row'>
                <!-- picture -->
                <div class='col'>
                    <a href="#">
                        <img id="img" class="img-fluid rounded mb-3 mb-md-0" src="" alt="">
                    </a>
                </div>
                <div class="col-md-5">
                    <!-- <h2></h2>
                    <h4 style="font-weight: lighter;"><h4> -->
                    <!-- description -->
                    <!-- <p style='font-size:15px;font-weight:lighter'></p> -->
                    <!-- lenses -->
                    <!-- <div  class="dropdown mt-5">
                        <button class="btn btn-dark btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                        Type de lentilles
                        </button>
                    </div>
                    <div id="lensesChoice" class="dropdown-menu" aria-labelledby="dropdownMenuButton"> -->
                        <!-- <a class="dropdown-item" href="#"></a>
                        <a class="dropdown-item" href="#"></a>
                        <a class="dropdown-item" href="#"></a> -->
                    <!-- </div> -->
                    <!-- quantities -->
                    <!-- <div class="section mt-5" style="padding-bottom:20px;">
                        <h6 class="title-attr"><small>Quantité</small></h6>                    
                        <div>
                            <div class="btn-minus"><span class="glyphicon glyphicon-minus"></span></div>
                                <input id="numberOfCameras" type="number" value="" min="1" max="100" required/>
                            <div class="btn-plus"><span class="glyphicon glyphicon-plus"></span></div>
                        </div>
                    </div>
                    <div>
                        <a id="basket-button" class="btn btn-info btn-lg" href="#">J'achète!</a>
                    </div>                 -->
                </div>
            </div>
        </section>

        <br>

        <!-- footer -->
        <footer>
            <div class="bottom section-padding mt-5">
                <div class="container-fluid bg-dark text-white d-flex align-items-center justify-content-center" style="height:200px">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="copyright">
                                <p>© Orinoco.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer> 

        <script src="JS/produit.js"></script>
    </body>
</html>