<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <title>Orinoco-Produit</title>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <script src="https://kit.fontawesome.com/525d9b07b6.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">

    </head>

    <body>
        <!-- navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="#">Orinoco</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home
                                <span class="sr-only">(current)</span>
                                </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Produits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">S'inscrire</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="panier.html">Panier</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- SearchBar -->
        <div class="input-group mb-1 mt-1">
            <input type="text" class="form-control" placeholder="Appareil photo..." aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-dark" type="button" id="button-addon2">Rechercher</button>
            </div>
          </div>

        <!-- product -->
        <section class="mt-5">
            <div class='row'>
                <!-- picture -->
                <div class='col pl-5'>
                    <a href="#">
                        <img id="img" class="img-fluid rounded mb-3 mb-md-0" src="" alt="">
                    </a>
                </div>

                <!-- title, description, price and button -->
                <div class="col-md-5 pr-5">
                    <section id="allDescription"></section>

                   <!-- type of lenses -->
                    <form>
                        <select class="form-control">
                            <option>Type de Lentilles</option>
                        </select>
                        <p class="displayAlert"></p>
                    </form>

                    <!-- basket button -->
                    <div class="mt-5">
                        <a id="cart-button" class="btn btn-info btn-lg" href="#"><span class="logoProduct"><i class="fas fa-shopping-cart"></i></span>
                            J'achète!</a>
                    </div>  
                </div>
            </div>
        </section>

        <br>

        <!-- footer -->
        <footer>
            <div class="bottom section-padding mt-5">
                <div class="container-fluid bg-dark text-white d-flex align-items-center justify-content-center" style="height:200px">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="copyright">
                                <p>© Orinoco.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer> 

        <script src="JS/produit.js"></script>
    </body>
</html>