<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <title>Orinoco-Produit</title>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <script src="https://kit.fontawesome.com/525d9b07b6.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">

    </head>

    <body>
        <!-- navigation -->
        <nav class="navbar navbar-expand navbar-dark bg-dark static-top justify-content-between">
            <a class="navbar-brand mr-auto">Orinoco</a>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="appareil photo" aria-label="Recherche">
                <button class="btn btn-outline-light" type="submit">Rechercher</button>
            </form>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">S'inscrire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="panier.html">Panier</a>
                </li>
            </ul>
        </nav>

        <!-- product -->
        <section class="mt-5">
            <div class='row'>
                <!-- picture -->
                <div class='col pl-5'>
                    <a href="#">
                        <img id="img" class="img-fluid rounded mb-3 mb-md-0" src="" alt="">
                    </a>
                </div>

                <!-- title, description, price and button -->
                <div class="col-md-5 pr-5">
                    <section id="allDescription"></section>

                   <!-- type of lenses -->
                    <form>
                        <select class="form-control">
                            <option>Type de Lentilles</option>
                        </select>
                    </form>

                    <!-- basket button -->
                    <div class="mt-5">
                        <a id="basket-button" class="btn btn-info btn-lg" href="#"><span class="logoProduct"><i class="fas fa-shopping-cart"></i></span>
                            J'achète!</a>
                    </div>  
                </div>
            </div>
        </section>

        <br>

        <!-- footer -->
        <footer>
            <div class="bottom section-padding mt-5">
                <div class="container-fluid bg-dark text-white d-flex align-items-center justify-content-center" style="height:200px">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="copyright">
                                <p>© Orinoco.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer> 

        <script src="jquery-3.5.1.min.js"></script>
        <script src="popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="JS/produit.js"></script>
    </body>
</html>