/*****************CSS Index.html***************/
.fa-camera-retro{
    margin-right: 10px;
    font-size: 35px;
}
/*****************CSS Produit.html*************/
.logoProduct{
    font-size: 20px;
    margin-right: 5px;
}

/*****************CSS Panier.html*************/
.row{
    margin-left: 0;
    margin-right: 0;
}
.logo{
    font-size: 30px;
}
h3{
    margin-bottom: 0;
    padding-top: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#articles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sm{
    font-size: 14px;
}
.empty{
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}
.quantityCart{
    text-align: center;
}
.navbar-brand{
    font-size: 35px;
    font-family: cursive, sans-serif;
}
.dangerType{
    font-size: 13px;
    color : red;
}
@media screen and (max-width: 768px){
    #articles{
        display: flex;
        flex-direction: column!important;
        text-align: center;
    }
    .spaceResponsive{
        margin-top: 15px;
    }
}
@media screen and (max-width: 600px){
    .titlesCard, .eachArticle{
        display: flex;
        flex-direction: column;
    }
}
/*****************CSS confirmation.html*************/
.emailSent{
    font-weight: bold;
    text-align: center;
}
#helloName{
    font-size: 22px;
}
.idCommand{
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
}
.idCommandTwice{
    font-weight: bold;
}
.commandContainer{
    text-align: center;
}
#cardProduct{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10px;
}
.flexEndText{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.total{
    margin-right: 30px;
}
.boldSalutation{
    font-weight: bold;
}
@media screen and (max-width: 600px){
    #cardProduct{
        margin-left: 0;
        margin-right: 0;  
    }
}